.listContainer {
  margin: 0 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0 1rem;
  min-width: 230px;
  & h3 {
    margin: 10px 0 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
